
button.toggle-button  {
    background-color: #cde6b2eb;
    border: #98bb6e 1px solid;
    border-radius: 2px;
    min-height: 20px;
}

button.toggle-button.selected {
    background-color: #61a716eb;
    border: #3a4928 1px solid;
}